{% extends 'base.html.twig' %}

{% block title %}Lien{% endblock %}

{% block body %}
    <h1>Lien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idendifiant</th>
                <td>{{ lien.id }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ lien.quantity }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ lien.client }}</td>
            </tr>
            <tr>
                <th>Matériel</th>
                <td>{{ lien.materiel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lien_edit', {'id': lien.id}) }}" class="btn btn-success">Modifier</a>
    {{ include('lien/_delete_form.html.twig') }}
    <a href="{{ path('app_lien_index') }}" class="btn btn-secondary">Retour à la liste des liens</a>

{% endblock %}
